layout: index
description: Rust Programming Language Tutorials for Everyone.
subtitle: GeoOS
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/zh_CN/docs/basic_data_struct.html') 数据结构
      p.intro-feature-desc 支持OGC中所有的空间数据类型,Point and MultiPoint、LineString and MultiLineString、Polygon and MultiPolygon、heterogeneous GeometryCollection。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/zh_CN/docs/data_conversion.html') 数据转换
      p.intro-feature-desc 包括wkt,geojson,geometry之间的互相转换。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/zh_CN/docs/spatial_calculation.html') 空间计算
      p.intro-feature-desc 支持空间数据的基础GIS操作。可执行相交、创建缓冲区、计算统计数据、执行邻域分析以及更多操作。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/zh_CN/docs/grid_analysis.html') 格网分析
      p.intro-feature-desc 将给定区域划分为网格，其中包括正方形网格和六边形网格。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-user-astronaut
      h3.intro-feature-title
        a(href='/zh_CN/docs/cluster_analysis.html') 聚类分析
      p.intro-feature-desc 支持K-Means、DBScan等聚类算法。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-meteor
      h3.intro-feature-title
        a(href='#') 更多功能尽情期待!
      p.intro-feature-desc 在2021年我们会支持更多的功能，尽请期待!
