layout: index
description: Rust Programming Language Tutorials for Everyone.
subtitle: Geoos
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/zh_CN/docs/basic_data_struct.html') 数据结构
      p.intro-feature-desc 安装, Hello World, Cargo, Crates, Variable bindings, Functions, Primitive Data Types, Operators & Control Flows.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/zh_CN/docs/data_conversion.html') 数据转换
      p.intro-feature-desc Vectors, Structs, Enums, Generics, Impls & Traits.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/zh_CN/docs/spatial_calculation.html') 空间计算
      p.intro-feature-desc Ownership, Borrowing, Lifetimes & Lifetime Elision.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/zh_CN/docs/grid_analysis.html') 格网分析
      p.intro-feature-desc Modules, Crates, Workspaces, std modules and Preludes.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-user-astronaut
      h3.intro-feature-title
        a(href='/zh_CN/docs/cluster_analysis.html') 聚类分析
      p.intro-feature-desc Smart compiler, Panicking, Option & Result, Unwrap & Expect, Error & None propagation, Combinators and Custom Error Types.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-meteor
      h3.intro-feature-title
        a(href='#') Stay tuned!
      p.intro-feature-desc More things are coming in 2021. Stay in touch!
