layout: index
description: Rust Programming Language Tutorials for Everyone.
subtitle: GeoOS
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-street-view
      h3.intro-feature-title
        a(href='/docs/basic_data_struct.html') Data Struct
      p.intro-feature-desc Support for all Geometry types defined in the OGC Simple Features for SQL specification.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-road
      h3.intro-feature-title
        a(href='/docs/data_conversion.html') Data Conversion
      p.intro-feature-desc Including the conversion between wkt, geojson and geometry.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-plane
      h3.intro-feature-title
        a(href='/docs/spatial_calculation.html') Spatial Calculation
      p.intro-feature-desc Ownership, Borrowing, Lifetimes & Lifetime Elision.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title
        a(href='/docs/grid_analysis.html') Grid Analysis
      p.intro-feature-desc Divide a given area into grids, including square grids and hexagonal grids.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-user-astronaut
      h3.intro-feature-title
        a(href='/docs/cluster_analysis.html') Cluster Analysis
      p.intro-feature-desc Support K-means, DBSCAN and other clustering algorithms.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-meteor
      h3.intro-feature-title
        a(href='#') Stay tuned!
      p.intro-feature-desc More things are coming in 2021. Stay in touch!
